# shared requirements
requests==2.32.3 # kronos and hermes

# hermes requirements

# kronos requirements
colorama==0.4.6 # logger
# morpheus requirements

# polyhymnia

# utils requirements
jsonschema==4.19.2
packaging==24.2